.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px;
  background-color: rgb(156 216 218);
  border-radius: 5px;
  margin: 5px;
  gap: 8px;
}

.img-phone {
  width: 40px;
  margin-right: 12px;
  color: aliceblue;
}

.atencion {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
}

.atencion h3 {
  padding: 0%;
  margin: 0%;
  color: white;
}

.atencion p {
  margin: 0%;
  color: white;
}
